
header{
    text-align: center;

}
body{
    background-image: url(thisone.jpeg);
    color: rgb(255, 255, 255)
}
main{
    background-color:rgba(0, 0, 0, 0.6);
    width: 700px;
    margin: auto;
    border-radius: 7px;
    font-size: 19px;

}
#survey-form{
    padding-top: 60px;
    padding-bottom: 60px;
}
label{
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}
.text-label{
    text-align: left;
    padding-left: 35px;
}
#textboxes{
    text-align: center;
}
input[type=text]{
    width: 88%;
    display: inline-block;
}
input[type=email]{
    width: 88%;
    display: inline-block;
}
input[type=number]{
    width: 88%;
    display: inline-block;
}
#radios{
    padding-left: 30px;
}
#checkboxes{
    padding-left: 30px;
}
#button{
    text-align: center;
    padding-bottom: 20px;
}

#comments{
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}
#comment-box{
    width: 90%;
}
.questions{
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.rounding{
    border-radius: 3px;
    height: 30px;
    padding-left: 10px;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    border: 2px solid white;
}
#submit-button{
    width: 91%;
    height: 40px;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    border: 2px solid white;
    background-color: white;
}
[type = 'radio']{
    width: 1.3em;
    height: 1.3em;

}
[type = 'checkbox']{
    width: 1.3em;
    height: 1.3em;
}
#selecter{
    width: 91%;
    height: 35px;
    background-color: white;
}
#dropdown{
    padding-top: 15px;
    text-align: center;
}