body{
    font-family: 'arial', 'helvetica', 'sans-serif'
}

header{
    display: grid;
    text-align: center;
    background-color: grey;

}

header h1{
    font-size: 3rem;
}

header h2{
    font-size: 1rem;
}
#main{
    background-color: rgb(233, 231, 231);
    text-align: center;
}

#image1{
    
    max-width: 70%;
    display: inline;
    padding-top: 40px;
    
}

#img-caption{
    font-size: 1rem;
}
#points{
    padding-bottom: 40px;
}
ul{
    text-align: left;
    list-style-type: square;
    padding-left: 15%;
    padding-right: 15%;
}

#read-more{
    text-align: center;
    padding-bottom: 20px;
    font-size: 1rem;
}
footer{
    background-color: grey;
    padding-top: 3px;
}
footer h2{
    font-weight: normal;
}